version: '3.7'

services:

  pathfinder:
    image: eqlabs/pathfinder
    hostname: {{ pathfinder_hostname }}
    container_name: {{ pathfinder_container_name }}
    env_file:
      - ./pathfinder.env
    ports:
      - "9110:9100"
      - "9545:9545"
    volumes:
      - {{ pathfinder_storage_name }}:/usr/share/pathfinder/data
    command: --monitor-address {{ monitoring_address }}:{{ monitoring_port}}
    restart: unless-stopped
    healthcheck:
      test: curl -sS -H 'Content-Type:'' application/json' -d '{"method":"starknet_syncing","jsonrpc":"2.0","params":[],"id":0}' "http://localhost:9545/rpc/v0.2" || echo 1
      interval: 20s
      timeout: 30s
      retries: 5

volumes:
  {{ pathfinder_storage_name }}:
    name: {{ pathfinder_storage_name }}
    external: false
